<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title> Car C2C </title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<ul>
    <li><a class="active" href="#">Novo Carro</a></li>
    <li><a href="listar">Listar Carros</a></li>
</ul>


<div id="formulario">
    <form th:action="@{/}" method="POST">
        <div class="campo">
            <label id="carro">Nome</label>
            <input type="text" maxlength="100" th:name="nome" placeholder="Ex: HB20, Voyage, Onix..." required>
        </div>
        <div class="campo">
            <label id="modelo">Modelo</label>
            <input type="text" maxlength="11" th:name="modelo" placeholder="Ex: Hyundai, Volkswagen, Chevrolet..." required>
        </div>
        <div class="campo">
            <label id="tipo">Tipo do carro</label>
            <select th:name="tipo">
                <option th:each="tipoCarro : ${T(br.com.carc2ccadastro.hardcode.TipoCarro).values()}" th:value="${tipoCarro}" th:text="${tipoCarro.descricao}" >Apple</option>
            </select>
        </div>
        <div class="campo">
            <label>Placa</label>
            <input th:name="placa" type="text" placeholder="Digite a placa do carro" required/>
        </div>
        <div class="campo">
            <label>Cor</label>
            <input th:name="cor" type="text" id="cor" required/>
        </div>
        <div class="campo">
            <label>Descricao</label>
            <input th:name="descricao" type="text" id="descricao" required/>
        </div>

        <input type="submit" value="Cadastrar">

    </form>
</div>
</body>
</html>